<div>
  <h5>Hero Form</h5>
  <form (ngSubmit)="onSubmit()" [formGroup]="heroForm">
    <div class="form-group">
      <label>Name:</label>
      <input id="name"
             [(ngModel)]="hero.name"
             class="form-control" 
             required 
             formControlName="name">
      <!--
        the variable name used in the ngIf actually calls function "get name()"
        in the component class which returns the FormControl object
       -->
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Hero name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Hero name must be at least 4 characters long.
        </div>
        <!-- <div *ngIf="name.errors.forbiddenName">
          Name cannot be Bob.
        </div> -->
      </div>
    </div>
    <div class="form-group">
      <label>Alter Ego</label>
      <input id="alterEgo"
             [(ngModel)]="hero.power"
             class="form-control"
             formControlName="alterEgo">
    </div>
    <div class="form-group">
      <label>Hero Power</label>
      <select id="heroPower"
              [(ngModel)]="hero.power"
              class="form-control"
              required
              formControlName="power">
        <option *ngFor="let power of heroPowers" [value]="power">
          {{ power }}
        </option>
      </select>
      <div *ngIf="power.invalid && (power.dirty || power.touched)" class="alert alert-danger">
        Hero power must be selected.
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="heroForm.invalid">Submit</button>
  </form>
</div>